<div class="container col-md-8 col-lg-8">
	<h1>Edit Your Profile</h1>

	<%= form_for @profile, :html => { multipart: true, :class => "form-signin"} do |f| %>
		<div>
			<%= f.label :location %>
			<%= f.text_field :location , class: "form-control"%>
		</div>

		<div>
			<%= f.label :objective %>
			<%= f.text_field :objective,  class: "form-control" %>
		</div>

		<div>
			<%= f.label :summary %>
			<%= f.text_field :summary,  class: "form-control" %>
		</div>

		<div>
			<%= submit_tag "Register", :class => "btn btn-lg btn-primary"  %>
		</div>

	<% end %>
</div>
<br>
<br>