<%= form_for @job do |f| %>
	<div class="center row" id= job-new-form>
	    <div class="row">
	    <div>
	    	<%= f.label :position %>
	    	<%= f.text_field :position %>
	    </div>

	    <div>
	    	<%= f.label :location %>
	    	<%= f.text_field :location %>
	    </div>

	    <div>
	    	<%= f.label :compensation %>
	    	<%= f.text_field :compensation %>
	    </div>

	    <div class="input-field col s12">
    		<select name="job[job_type]">
    				<option value="">Job Type</option>
    		  	<option value="full-time">Full Time</option>
    		  	<option value="part-time">Part Time</option>
    		  	<option value="internship">Internship</option>
    		  	<option value="freelance">Freelance</option>
    		</select>
  		</div>

  		 <div>
	    	<%= f.label :description %>
	    	<%= f.text_field :description %>
	    </div>
	    <div>
	    	<%= submit_tag "Submit", :class => "btn link"  %>
	    </div>
	</div>
<% end %>
<br>
<br>


