<h1 class="text-center container col-md-8 col-lg-8">All Job Postings</h1>

<div class="text-center container col-md-8 col-lg-8">

	<%= search_form_for @search do |f| %>
		<%= f.condition_fields do |c| %>
		<div>
			<%= c.attribute_fields do |a| %>
				<%= a.attribute_select associations: [:company] %>
			<% end %>
			<%= c.predicate_select %>
			<%= c.value_fields do |v| %>
				<%= v.text_field :value %>
			<% end %>
		</div>
<% end %>

<div id="search-buttons">
	<div class="btn btn-primary"><%= f.submit "Search"%> </div>
	<% end %>
	<div class="btn btn-primary"><%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %></div>
	</div>
</div>

<div id="job-container">
	<% @jobs.each do |job| %>
		<div class="text-center" id="job-">
			<h3> JobID: <%= link_to job.id, job_path(job) %> </h3>
			<p><h5>Position</h5><%=job.position%></p>
			<p><h5>Description</h5><%=job.description%></p>
		</div>
	<% end %>
</div>

<% if current_user.company_id != nil %>
	<div class="text-center"><%= link_to "Post a New Job", new_job_path %></div>
<% end %>
