
<div id="index-banner" class="parallax-container">
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-2">CodeConnect</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">A platform to connect technical bootcamp graduates to success.</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
    </div>
    <br><br>

  </div>
</div>
<div class="parallax"><%= image_tag("workspace2.jpg", :alt => "Unsplashed workspace2 img") %></div>
</div>


<!-- real parallax below -->


<h1 class="center">All Job Postings</h1>
<div class="row">
	<div class="container">
		<%= search_form_for @search do |f| %>
			<%= f.condition_fields do |c| %>
			<div>
				<%= c.attribute_fields do |a| %>
					<%= a.attribute_select associations: [:company] %>
				<% end %>
				<%= c.predicate_select %>
				<%= c.value_fields do |v| %>
					<%= v.text_field :value %>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="center">
		<div>
			<%= f.submit "Search"%>
		</div>
			<% end %>
		<div>
			<%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %>		
		</div>
	</div>
</div>
<div>
	<table class="container bordered highlight responsive-table z-depth-2" id="jobs-table">
		<thead class="centered">	
			<tr>
				<th class="center">Company</th>
				<th class="center">Location</th>
				<th class="center">Position</th>
				<th class="center">Description</th>
			</tr>
		</thead>
		
			<% @jobs.each do |job| %>
		<tbody >
			<tr class="hoverable" style="margin: 5px;">
				<td class="center"><%= job.company.name%></td>
				<td class="center"><%=job.location%></td>
				<td class="center"><a href="<%=job_path(job)%>"><%=job.position%></td>
				<%if job.description.split('').count  >= 150%>
					<td class="center">
						<div>
							<%= job.description[0...150] %>....
						</div>
					</td>
				<% else %>
					<td>
						<div>
							<%= job.description %>
						</div>
					</td>
				<% end  %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<br>
<br>

<% if current_user.company_id != nil %>
	<div>
		<%= link_to "Post a New Job", new_job_path %>
	</div>
<% end %>
