
<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
	  <div class="container">
	    <br><br>
	    	<h1 class="header center teal-text text-lighten-2">Job Postings</h1>
	    <br><br>
		</div>
	</div>
<div class="parallax"><%= image_tag("workspace2.jpg", :alt => "Unsplashed workspace2 img") %></div>
</div>
<br>
<br>



<div class="row">
	<div class="container">
		<%= search_form_for @search do |f| %>
			<%= f.condition_fields do |c| %>
			<div>
				<%= c.attribute_fields do |a| %>
					<%= a.attribute_select associations: [:company] %>
				<% end %>
				<%= c.predicate_select %>
				<%= c.value_fields do |v| %>
					<%= v.text_field :value %>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="center">
		<div>
			<%= f.submit "Search"%>
		</div>
			<% end %>
		<div>
			<%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %>		
		</div>
	</div>
</div>

<div>
	<table class="striped" style="margin-left: 5%">
		<thead>	
			<tr>
				<th class="center">Company</th>
				<th class="center">Location</th>
				<th class="center">Position</th>
				<th class="center">Description</th>
			</tr>
		</thead>
		
		<tbody>
			<% @jobs.each do |job| %>
			<tr class="hoverable">
				<div>
					<td class="center"><%= job.company.name %></td>
					<td class="center"><%=job.location%></td>
					<td class="center"><a href="<%=job_path(job)%>"><%=job.position%></td>
					<div>
						<%if job.description.split('').count  >= 150%>
							<td>
								<div>
									<%= job.description[0...150] %> ....
								</div>
							</td>
						<% else %>
							<td>
								<div id="">
									<%= job.description %>
								</div>
							</td>
						<% end  %>
					</div>	
				</div>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br>
<br>
<br>

<% if current_user.company_id != nil %>
	<div>
		<%= link_to "Post a New Job", new_job_path %>
	</div>
<% end %>
