<h1 class="center">All Job Postings</h1>
<div class="row">
	<div class="container">
		<%= search_form_for @search do |f| %>
			<%= f.condition_fields do |c| %>
			<div>
				<%= c.attribute_fields do |a| %>
					<%= a.attribute_select associations: [:company] %>
				<% end %>
				<%= c.predicate_select %>
				<%= c.value_fields do |v| %>
					<%= v.text_field :value %>
				<% end %>
			</div>
		<% end %>
	</div>

	<div class="center">
		<div>
			<%= f.submit "Search"%>
		</div>
			<% end %>
		<div>
			<%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %>		
		</div>
	</div>
</div>

<table class="bordered centered highlight responsive-table">
	<thead>	
		<tr>
			<th>Position</th>
			<th>Company</th>
			<th>Location</th>
		</tr>
	</thead>
	
		<% @jobs.each do |job| %>
	<tbody>
		<tr>
			<!-- <td><a href=""></a></td> -->
			<td><%=job.position%></td>
			<td><%= job.company.name%></td>
			<td><%=job.location%></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% if current_user.company_id != nil %>
	<div>
		<%= link_to "Post a New Job", new_job_path %>
	</div>
<% end %>
