<div id="index-banner" class="parallax-container z-depth-5">
  <div class="section no-pad-bot">
    <div class="container">
      	<br><br>
      	<div>
	      	<h3 style="color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;" class="header center text-lighten-2">
	      	<%= @job.position %><br>
			<small>at</small><br>
			<%= @job.company.name%></h3>
		</div>
      <div class="row center">
        <h5 style="color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;" class="header col s12 light "><%= "Job Views | #{@job.impressionist_count}" %></h5>
      </div>
      <div class="row center">
        
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("Cross_Section1.jpg", :alt => "cross section img") %></div>
</div>




<br>
<br>


	<div class="container">
		<p class="flow-text center">
			<strong>Position Details</strong>
		</p>
		<p class="flow-text" id="text-indent">
			<small><%= @job.description %></small>
		</p>
		<br>
	</div>
<div class="container">	
	<div class="row">
		<div class=" row center z-depth-5" id="user-evals">
			<div class="col s2">
				<p>Position<br><small><%= @job.position %></small></p>
			</div>
			<div class="col s2">
				<!-- What does this if statement do -->
				<% if @job.company%>
					<p>Company<br> <small><%= @job.company.name %></small></p>
				<% end %>
				<!-- if statement ends here -->
			</div>
			<div class="col s2">		
				<p>Location<br> <small><%= @job.location %></small></p>
			</div>
			<br>
				<% if @user_favorite %>
					<div class="btnr"><%= link_to "Unfavorite", favorite_path(@user_favorite), method: :delete %></div>
				<% else %>
					<%= render 'favorites/form' %>
				<% end %> 
			
		</div>
	</div>
</div>
<br>


<% if current_user.company_id == @job.company_id %>
	<p><h4>Job Post Admin (HR)</h4></p>
	<button><%= link_to "Update this Listing", edit_job_path(@job) %></button>
	<button><%= link_to "Delete this Listing", job_path(@job), method: :delete %></button>
<% end %>

<br>



