<h1> Job ID: <%=@job.id%>  </h1><br>

<div class="text-center">
	<p><h4>Position</h4> <small><%= @job.position %></small></p><br>
	<% if @job.company%>
		<p><h4>Company</h4> <small><%= @job.company.name %></small></p><br>
	<% end %>
	<p><h4>Location</h4> <small><%= @job.location %></small></p><br>
	<p><h4>Description</h4> <small><%= @job.description %></small></p><br>
</div>

<h4>
	<%= "This listing has been viewed: #{@job.impressionist_count} times" %>
</h4>

<% if @user_favorite %>
	<button class="btn"><%= link_to "Unfavorite", favorite_path(@user_favorite), method: :delete %></button>
<% else %>
	<%= render 'favorites/form' %>
<% end %> 

<br>
<br>
<br>

<% if current_user.company_id == @job.company_id %>
	<p><h4>Job Post Admin (HR)</h4></p>
	<button><%= link_to "Update this Listing", edit_job_path(@job) %></button>
	<button><%= link_to "Delete this Listing", job_path(@job), method: :delete %></button>
<% end %>

<br>
<br>


