<div class="center">

	<h3><%= @job.position %><br>
	<small>at</small><br>
	<%= @job.company.name%></h3>
	<br>

	<div>
		<%= "Job Views | #{@job.impressionist_count}" %>
	</div>

</div>
<br>
<br>


	<div class="container">
		<p class="flow-text center">
			<strong>Position Details</strong>
		</p>
		<p class="flow-text" id="text-indent">
			<small><%= @job.description %></small>
		</p>
		<br>
	</div>
<div class="container">	
	<div class="row">
		<div class=" row center z-depth-5" id="user-evals">
			<div class="col s2">
				<p>Position<br><small><%= @job.position %></small></p>
			</div>
			<div class="col s2">
				<!-- What does this if statement do -->
				<% if @job.company%>
					<p>Company<br> <small><%= @job.company.name %></small></p>
				<% end %>
				<!-- if statement ends here -->
			</div>
			<div class="col s2">		
				<p>Location<br> <small><%= @job.location %></small></p>
			</div>
			<br>
				<% if @user_favorite %>
					<button class="btn"><%= link_to "Unfavorite", favorite_path(@user_favorite), method: :delete %></button>
				<% else %>
					<%= render 'favorites/form' %>
				<% end %> 
			
		</div>
	</div>
</div>
<br>


<% if current_user.company_id == @job.company_id %>
	<p><h4>Job Post Admin (HR)</h4></p>
	<button><%= link_to "Update this Listing", edit_job_path(@job) %></button>
	<button><%= link_to "Delete this Listing", job_path(@job), method: :delete %></button>
<% end %>

<br>



