<div id="index-banner" class="parallax-container z-depth-5">
  <div class="section no-pad-bot">
    <div class="container">
      	<br><br>
      	<div class="header center teal-text text-lighten-2" id="head1">
	      	Hundreds of Candidates From All Over the Globe
		</div>



      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("laptop2.jpg", :alt => "laptop2 img") %></div>
</div>


<br>
<br>
<br>

	<div class="container center">
        <h5>Search for Talent or Make New Connections</h5>

	<%= search_form_for @search do |f| %>
	  <%= f.label :name_cont %>
	  <%= f.search_field :first_name_or_last_name_cont %>
	  <%= f.submit %>
	<% end %>

</div>

	

<br>
<br>


<span class="center-align"><h3>Good People Come From Everywhere</h3></span>
<br>

<div class="row">
	<% @boots.each do |boot| %>
		<div class="col m4" >
			<div class="card hoverable light-grey ">
				<div class="card-image">
          	<% if boot.photo? %>
					<img src="<%= boot.photo %>" height=430 width=566>
            <% else %>
            	<img src="https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png" height=430 width=566>
            <% end %>
					<div class="card-title black-text"><%= boot.full_name %></div>
					<a href="<%= user_path(boot)%>" class="btn-floating halfway-fab waves-effect z-depth-5"><i class="fa fa-user" aria-hidden="true"></i></a>
				</div>
				<div class="card-content">
              		<p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= boot.profile.location %></p>
        		</div>
			</div>
		</div>
	<%end%>
</div>
