This is an index of **ONLY** bootcamp graduates.

<br>
<br>

<div class="text-center container col-md-8 col-lg-8">

	<%= search_form_for @search do |f| %>
		<%= f.condition_fields do |c| %>
		<div>
			<%= c.attribute_fields do |a| %>
				<%= a.attribute_select %>
			<% end %>
			<%= c.predicate_select %>
			<%= c.value_fields do |v| %>
				<%= v.text_field :value %>
			<% end %>
		</div>
<% end %>
<div id="search-buttons">
	<div><%= f.submit "Search"%> </div>
	<% end %>
	<div><%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %></div>
	</div>
</div>

<br>
<br>

Bootcamp Graduates:
<div>
	<ul>
		<% @boots.each do |boot| %>
			<div>
				<li>
					<%= link_to boot.full_name, user_path(boot)%> 

					Location:
					<% if boot.profile %>
						<%= boot.profile.location %>
					<% else %>
						TBD
					<% end %>
			
				</li>
			</div>
		<%end%>
	</ul>
</div>
