<div id="index-banner" class="parallax-container z-depth-5">
  <div class="section no-pad-bot">
    <div class="container">
      	<br><br>
      	<div class="header center teal-text text-lighten-2" id="head1">
	      	Boot Index
		</div>
      
   
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag("laptop2.jpg", :alt => "laptop2 img") %></div>
</div>




<br>
<br>
<br>

	<div class="container center">
        <h5>Search for Boots</h5>

		<%= search_form_for @search do |f| %>
			<%= f.condition_fields do |c| %>
			<div class="row">
				<div class="col s12 m4 l8">
						<%= c.attribute_fields do |a| %>
				</div>
							<%= a.attribute_select %>
						<% end %>
						<%= c.predicate_select %>
						<%= c.value_fields do |v| %>
							<%= v.text_field :value %>
						<% end %>
			</div>
		<% end %>
		<div class="center-align">
			<div><%= f.submit "Search"%></div>
		<% end %>
			<div><%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %></div>
		</div>
	</div>

<br>
<br>


<span class="center-align"><h3>Bootcamp Graduates</h3></span>
<br>

<div class="row">
	<% @boots.each do |boot| %>
		<div class="col m4" >
			<div class="card hoverable light-grey z-depth-5">
				<div class="card-image">
						<img src="<%= boot.photo %>">
					<div class="card-title black-text"><%= boot.full_name %></div>
					<a href="<%= user_path(boot)%>" class="btn-floating halfway-fab waves-effect z-depth-5"><i class="fa fa-user" aria-hidden="true"></i></a>
				</div>
				<div class="card-content">
              		<p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= boot.profile.location %></p>
        		</div>	
			</div>
		</div>
	<%end%>
</div>


