
<center><h1>Register</h1></center>
<br>
<br>
<div class="row container">
	<%= form_for @user do |f| %>
	<span class="form_header">

		<div>
				<%= f.label :first_name%>
				<%= f.text_field :first_name%>
		</div>

			<div>
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>

			<div>
				<%= f.label :email %>
				<%= f.email_field :email%>
			</div>

		<div>
				<%= f.label :password %>
				<%= f.password_field :password %>
		</div>

		<div>
				<%= f.label :token %>
				<%= f.text_field :unique_token %>
		</div>

		<div>
				<label>Photo</label>
				<%= f.file_field :photo%>
		</div>

		<center>
			<div class=" ">
				<%= submit_tag "Register", :class => "btn"  %>
			</div>
			<br>
			<br>
		</center>

		<% end %>
	</span>
</div>
</div>
</div>
<br>
<br>
