<div class="text-center">	
	<h3><%= @user.full_name %>'s Profile</h3>

	<!-- <br> -->
	<!-- <br> -->

	<strong>Contact:</strong>
	<%= @user.email %>
</div>	

<br>
<br>

<div class="col-md-4 col-lg-4">	
	<strong>Photo:</strong>
	<%= @user.photo %>
</div>


<br>
<br>
<div class="text-center">
	<h4>About Me</h4>
	<ul>
		<li><strong>Location:</strong> <%= @profile.location %></li>
		<li><strong>Objective:</strong> <%= @profile.objective %></li>
		<li><strong>Summary:</strong> <%= @profile.summary %></li>
	</ul>
</div>


<div id="boots-list-of-jobs" class="text-center ">
	<h4>Current Projects</h4>
		<ul>
			<% @user.projects.each do |project|%>
				<li><%= link_to "#{project.title} || (#{project.company.name})", project_path(project)%> </li>
			<%end%>
		</ul>
</div>


