<div class="center-align">
	
	<div class=" col s6">
		<h1><%= @user.full_name.capitalize %>'s Profile</h1>
	</div>
</div>

<div class="row" id="border">
	<% if @user.photo? %>
		<div class="col s5">
			<div class="center-align" id="profile-pic">
				<%= image_tag @user.photo.avatar.url %><br>
				<strong>Contact</strong><br>
				<small><%= @user.email %></small>
			</div>
			<br>
			<div class="center-align">
				<strong>Resume</strong>
				<p><%= flash[:notice] %></p>
				<% if !@user.resume %>
					<%= render 'resumes/form' %>
				<% else %>
					<%= link_to "#{@user.first_name}'s Resume", user_resume_path(@user) %>
				<% end %>
			</div>
		</div>
	<%end%>

	<div class="col s6 center" id="border">
		<% if @profile%>
		<div class="row">
			<div >
				<h4>About Me</h5>
			</div>
		</div>
			<br>
				
		<div class="row center-align">
			<div class="col s4"><h5>Location</h5><%= @profile.location %><br></div>
			<div class="col s4"><h5>Objective</h5><%= @profile.objective %><br></div>
			<div class="col s4"><h5>Summary</h5><%= @profile.summary %><br></div>
		</div>

			<br>
			<div class="btn link"><a href="<%=edit_profile_path(@profile) %>" ><i class="fa fa-pencil" aria-hidden="true"></i>Edit 'About Me'</a></div>
		<% else %>
			<div class="btn link"><%= link_to "Add 'About Me'", new_profile_path %></div>
		<% end %>
	</div>
</div>




<!-- Everthing about this comment is in the right position -->




<div class="center" id="border">
	<h4>Portfolio</h4>
	<ul>
		<div class="carousel">
			<% @uploads.each do |upload| %>
				<li>
					<div class="carousel-item card z-depth-5">

							<div class="card-image hoverable"><img src="<%=upload.photo.avatar.url %>" height="250" ></div>
								<div>

									<% if @user == current_user%>
										<div class="row">	
											<div class="col s6"><a href="<%= edit_user_upload_path(@user, upload) %>" class="btn-floating halfway-fab left z-depth-5" ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

											<div class="col s6"><a href="<%= edit_user_upload_path(@user, upload) %>" class="btn-floating halfway-fab z-depth-5" ><i class="fa fa-trash" aria-hidden="true"></i></a></div>
										</div>
								</div>
						<%end%>
				</li>
			<% end%>
		</div>
	</ul>

	<% if @user == current_user%>
		<div class="btn link"><%= link_to "Upload Portfolio Image", new_user_upload_path(@user) %></div>
	<% end %>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





<div>
	<h3>Testimonials</h3>
	<% @user.evaluations.each do |eval|%>
	<p><%= eval.review %></p>
	<p><%= eval.author.full_name %></p>
	<% end %>
</div>

<br>


<br>

<div>
	<h3>Links Section</h3>
	<% if @user.links %>
		<ul>
		<% @links.each do |link| %>
			<li>
				<%= link_to link.description, link.url %>
				<% if @user == current_user%>
					<div>
						<button><%= link_to "Edit", edit_link_path(link) %></button>
					</div>
					<div>
						<button><%= link_to "Delete", link_path(link), method: :delete %></button>
					</div>	
				<% end%>
			</li>
		<% end %>
		</ul>
	<% end %>

	<br>
	<% if @user == current_user%>
	<h3><%= link_to "Add New Link", new_link_path %></h3>
	<% end %>




		<br>
		<br>

		<div>
			<% if current_user.id != @user.id %>
				<h4>Evaluate this Dev:</h4>
				<%= simple_form_for :evaluation, url: user_evaluations_path(@user) do |f|%>
					<%= f.input :rating, label: 'Rating', collection: [1, 2, 3, 4, 5] %>
					<%= f.input :review, label: 'Review', as: :text %>
					<%= f.button :submit %>
				<% end %>
			<% end %>
		</div>


		<% if current_user == @user && @user.favorite_jobs.any?%>
			<div>
			<h3>Favorite Jobs:</h3>
				<% @user.favorite_jobs.each do |job| %>
					<%= link_to "#{job.company.name} - #{job.position}" , job_path(job) %>
				<% end %>				
			</div>
		</div>

		<% end %>

		<br>
		<br>

