<div class="row center">

		<div class=" col s1 center-align">
				<% if current_user.id == @user.id %>
					<%= "Profile Views #{@user.impressionist_count}" %>
				<% end %>
		</div>
	<div class="col s10 center"><h1><%= @user.full_name.capitalize %>'s Profile</h1></div>

</div>

<div class="row z-depth-1 hoverable" id="user-evals">


	<% if @user.photo? %>
		<div class="col s5">
			<div class="center-align" id="profile-pic">
				<div><%= image_tag @user.photo.avatar.url %></div><br>
				<strong>Contact</strong><br>
				<small><%= @user.email %></small><br>


			</div>


			<br>
			<div class="center-align">
				<strong>Resume</strong>
				<p><%= flash[:notice] %></p>
				<% if !@user.resume %>
					<%= render 'resumes/form' %>
				<% else %>
					<%= link_to "#{@user.first_name}'s Resume", user_resume_path(@user) %>
				<% end %>
			</div>
		</div>
	<%end%>

		<div class="btn link"><%= link_to 'Message me!', user_conversations_path(@user, sender_id: current_user.id, recipient_id: @user.id), method: 'post'%></div>

	<div class="col s6 center" >
		<% if @profile%>
		<div class="row">
			<div >
				<h4><small>About Me</small></h4>
			</div>
		</div>
			<br>

		<div class="row center-align">
			<div class="col s4"><h5>Location</h5><em><%= @profile.location %></em><br></div>
			<div class="col s4"><h5>Objective</h5><em><%= @profile.objective %></em><br></div>
			<div class="col s4"><h5>Summary</h5><em><%= @profile.summary %></em><br></div>
		</div>
			<br>
			<% if @user == current_user%>
				<div class="btn link"><a href="<%=edit_profile_path(@profile) %>" > <i class="fa fa-pencil" aria-hidden="true"></i> Edit 'About Me'</a></div>
			<% end %>
		<% else %>
			<div class="btn link"><%= link_to "Add 'About Me'", new_profile_path %></div>
		<% end %>
	</div>
</div>

<br>
<br>

<div class="center" >
	<ul>
		<div class="carousel hoverable">
		<h2 style="font-family: Monaco">Portfolio</h2>
			<% @uploads.each do |upload| %>
				<li>
					<div class="carousel-item card z-depth-5">

							<div class="card-image hoverable"><img src="<%= upload.photo.avatar.url %>" height="250" >
							 <span class="black-text"><%= upload.title %></span>
							</div>
								<div>

									<% if @user == current_user%>
										<div class="row">
											<div class="col s6 small"><a href="<%= edit_user_upload_path(@user, upload) %>" class="btn-floating halfway-fab left z-depth-5" ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

											<div class="col s6"><a data-method="delete" href="<%= user_upload_path(@user, upload) %>" class="btn-floating halfway-fab z-depth-5" ><i class="fa fa-trash" aria-hidden="true"></i></a></div>
										</div>
								</div>
						<%end%>
				</li>
			<% end%>
		</div>
		<br>
	<% if @user == current_user%>
		<div class="btn link"><%= link_to "Upload Portfolio Image", new_user_upload_path(@user) %><br></div>
	<% end %>
	</ul>



<!-- Everthing above this comment is in the right position -->






<div class="container">
	<div class="row">
		<div class="col s6 center-align" >
			<h4><small>Testimonials</small></h3>
			<% @user.evaluations.each do |eval|%>
			<div class="z-depth-2 hoverable" id="user-evals">
			<p><em>"<%= eval.review %>"</em>"</p>
			<p><small><%= eval.author.full_name %></small></p>
			</div>
			<br>
			<% end %>
		</div>

		<div class="col s6">
		<div>
			<div class="row z-depth-3 hoverable" id="user-evals">
			<div class="center "><h3><small>Media Links</small></h3></div>
					<% if @user == current_user%>
					<div class="col s12" ><div class="btn link "><a href=" <%=new_link_path %>">Add New Link</a></div></div><br>
					<% end %>
				<br>


				<% if @user.links %>
					<ul>
						<div>
						<% @links.each do |link| %>
							<li>
							<div>
								<div class="btn link" id="media-link"><%= link_to link.description, link.url %></div>
								<% if @user == current_user%>
									<div>
										<div class="btn link">
											<%= link_to "Edit", edit_link_path(link) %>
										</div>
										<div class="btn link ">
											<%= link_to "Delete", link_path(link), method: :delete %>
										</div>
									</div>
								<% end%>
							</div>
							</li>
								<% end %>
						</ul>
						<% end %>
				</div>
			</div>
		</div>





</div>

	<div>
		<br>
		<br>
		<% if current_user == @user && @user.favorite_jobs.any?%>
			<div class="text-center">
			<h3>Favorite Jobs:</h3>
				<% @user.favorite_jobs.each do |job| %>
					<%= link_to "#{job.company.name} - #{job.position}" , job_path(job) %>
					<% end %>
		<% end %>
			</div>
		</div>

		<div>
			<% if current_user.id != @user.id %>
				<h4>Evaluate this Dev:</h4>
				<%= simple_form_for :evaluation, url: user_evaluations_path(@user) do |f|%>
					<%= f.input :rating, label: 'Rating', collection: [1, 2, 3, 4, 5] %>
					<%= f.input :review, label: 'Review', as: :text %>
					<%= f.button :submit %>
				<% end %>
			<% end %>
		</div>
</div>



<h4>Track Your Profile Views</h4>

<div>
	<% if current_user.id == @user.id %>
		<h4>Track Your Profile Views</h4>
		<%= line_chart @impressions.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: false %>
	<% end %>
</div>

