<h3><%= @user.full_name %>'s Profile:</h3>

<!-- <br> -->
<!-- <br> -->

<strong>Contact:</strong>
<%= @user.email %>

<br>
<br>


<strong>Photo:</strong>
<%= image_tag @user.photo.avatar.url %>


<br>
<br>



	
<% if @profile %>
	<strong>About Me:</strong>
	<ul>
		<li>Location: <%= @profile.location %> </li>
		<li>Objective: <%= @profile.objective %></li>
		<li>Summary: <%= @profile.summary %></li>
	</ul>
<%else%>
	
	<%= link_to "Create 'About Me' Section", new_profile_path %>

<% end %>


	
<br>
<br>




<strong>Current Projects:</strong>
<ul>
<% @user.projects.each do |project|%>
	<li><%= link_to "#{project.title} (#{project.company.name})", project_path(project)%> </li>
<%end%>
</ul>


