<body >
	<div class="row center">

			<div class=" col s1 center-align">
					<% if current_user.id == @user.id %>
						Total Views
						<br>
						<small><%= "#{@user.impressionist_count}" %></small>
					<% end %>
			</div>


			<div class="col s10 center">
				<% if @user == current_user %>
					<h1>Welcome back, <%= @user.full_name %>!</h1>
				<% else %>
					<h1><%= @user.full_name %></h1>
				<% end %>
			</div>


	</div>

	<div class="row z-depth-1 hoverable" id="user-evals">
			<div class="col s1">
			</div>
		<div class="col s5">
			<div class="center-align" id="profile-pic">
				<div>
					<% if @user.photo? %>
						<%= image_tag @user.photo.avatar.url %>
						<% else %>
						<img src="https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png" height=300 width=300>
						<% end %>
				</div>
				<br>
				<strong>Contact</strong>
				<br>
				<small><%= @user.email %></small>
				<br>
			</div>

				<br>
				<div class="center-align">
					<% if @user != current_user%>
						<div class="btn link">
					<%= link_to 'Message me!', user_conversations_path(@user, sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
						</div>
					<% end %>
				</div>
			</div>

					
			

		<div class="col s5 center" >
			<% if @profile%>
				<div class="row">
					<div >
						<h4><small>About Me</small></h4>
					</div>
				</div>
				<br>

			<div class="row center-align">
				<div class="col s4"><h5>Location</h5><i class="fa fa-map-marker" aria-hidden="true"></i> <em><%= @profile.location %></em><br></div>
				<div class="col s4"><h5>Objective</h5><em><%= @profile.objective %></em><br></div>
				<div class="col s4"><h5>Summary</h5><em><%= @profile.summary %></em><br></div>

			
			</div>
				<br>
				<% if @user == current_user && @user.profile %>
					<div class="btn link">
						<a href="<%=edit_profile_path(@profile) %>" > <i class="fa fa-pencil" aria-hidden="true"></i> Edit 'About Me'</a>
					</div>
				<% end %>
			<% elsif @user == current_user && @user.profile == nil%>
				<div class="btn link">
					<%= link_to "Add 'About Me'", new_profile_path %>
				</div>
			<% end %>
			<br>
				<div>

					<strong>Resume</strong>
					<p><%= flash[:notice] %></p>
					<% if !@user.resume %>
						<%= render 'resumes/form' %>
					<% else %>
						<%= link_to "#{@user.first_name}'s Resume", user_resume_path(@user) %>
					<% end %>
				</div>
		</div>
		<div class="col s1"></div>
	</div>



	<div class="center" >
		<ul>
			<div class="carousel hoverable">
			<h2>Portfolio</h2>
					
				<% @uploads.each do |upload| %>
					<div class="carousel-item card z-depth-5">
						<div class="card-image hoverable">
							<img src="<%= upload.photo.avatar.url%>" height=250>
						</div>
						<div>
							<% if @user == current_user%>
								<div class="row">	
									<div>
										<%= button_to "EDIT", edit_user_upload_path(@user, upload), method: :get, :class => "btn-floating halfway-fab left edit-btn" %> 
									</div>

									<div class="col s6 small">
										<%= button_to "DELETE", user_upload_path(@user, upload), method: :delete, :class => "btn-floating halfway-fab right delete-btn" %> 
									</div>

<!-- 									<div class="col s6 small"><a href="<%= edit_user_upload_path(@user, upload) %>" class="btn-floating halfway-fab left z-depth-5" ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

									<div class="col s6"><a data-method="delete" href="<%= user_upload_path(@user, upload) %>" class="btn-floating halfway-fab z-depth-5" ><i class="fa fa-trash" aria-hidden="true"></i></a></div> -->
								</div>
							<%end%>
						</div>
					</div>	

				<% end%>	
			</div>
		</ul>

		<% if @user == current_user%>
			<div class="btn link"><%= link_to "Upload Portfolio Image", new_user_upload_path(@user) %></div>
		<% end %>
	</div>
	<br>
	<br>
	<!-- carousel ends here -->






	<div class="container">
		<div class="row">
			<div class="col s5 center-align z-depth-2" id="user-evals" >
				<h4><small>Testimonials</small></h3>
					<% @user.evaluations.each do |eval|%>
					<div>
						<div class="hoverable" id="user-evals">
							<p><em>"<%= eval.review %>"</em></p>
							<p><small>-<%= eval.author.full_name %></small></p>
						</div>
						
							<p>---------------</p>
						
					</div>
					<% end %>
			</div>
			<div class="col s2">
			</div>
			<div class="col s5">
			<div>
				<div class="row z-depth-3 hoverable" id="user-evals">
					<div class="center ">
						<h4><small>Media Links</small></h4>
						<% if @user == current_user%>
							<div class="center-align btn link">
								<a href=" <%=new_link_path %>">Add New Link</a>
							</div><br>
						<% end %>
					<br>


					<% if @user.links %>
						<ul>
							<div>
							<% @links.each do |link| %>
								<li>
								<div>
									<div class="btn link center" id="media-link">
										<%= link_to link.description, link.url %>
									</div>
									<% if @user == current_user%>
										<div>
											<div class="btn link">
												<%= link_to "Edit", edit_link_path(link) %>
											</div>
											<div class="btn link ">
												<%= link_to "Delete", link_path(link), method: :delete %>
											</div>
										</div>
									<% end%>
								</div>
								</li>
							<% end %>
							</div>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>





		<div>
			<br>
			<br>
			<% if current_user == @user && @user.favorite_jobs.any?%>
				<div class="text-center">
				<h3>Favorite Jobs:</h3>
					<% @user.favorite_jobs.each do |job| %>
						<%= link_to "#{job.company.name} - #{job.position}" , job_path(job) %>
					<% end %>
					<br>
					<br>
					<br>
			<% end %>
				</div>
			</div>

			<div>
				<% if current_user.id != @user.id %>
					<h4>Evaluate this Dev:</h4>
					<%= simple_form_for :evaluation, url: user_evaluations_path(@user) do |f|%>
						<%= f.input :rating, label: 'Rating', collection: [1, 2, 3, 4, 5] %>
						<%= f.input :review, label: 'Review', as: :text %>
						<br>
						<%= f.button :submit %>
					<% end %>
				<% end %>
			</div>
	</div>
	<br>
	<br>



	<div>
		<% if current_user.id == @user.id %>
			<center>Track Your Profile Views</center>
			<%= line_chart @impressions.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: false %>
		<% end %>
	</div>
</body>