<h1>All Freelance Projects</h1>

<div>
	<%= search_form_for @search do |f| %>
		<%= f.condition_fields do |c| %>
		<div>
			<%= c.attribute_fields do |a| %>
				<%= a.attribute_select associations: [:company] %>
			<% end %>
			<%= c.predicate_select %>
			<%= c.value_fields do |v| %>
				<%= v.text_field :value %>
			<% end %>
	</div>
<% end %>
<div><%= f.submit "Search"%> </div>
<% end %>
</div>



<%= button_to "Clear Search", request.path, class:"cancel-button", method: "get" %>

<div>
	<% @projects.each do |project| %>
		<p>Location: <%=project.position%></p>
		<p>Description: <%=project.description%></p><br>
	<% end %>
</div>

<%= link_to "Post a New Project", new_project_path %>