<h1> Project ID: <%=@project.id%> </h1>

<div>
	<p>Title: <%= @project.title %></p>
	<p>Location: <%= @project.location %></p>
	<p>Description: <%= @project.description %></p>
	<p>Compensation: <%= @project.compensation %></p>
</div>	

<%= link_to "Update this Project", edit_project_path(@project) %>
<%= link_to "Delete this Project", project_path(@project), method: :delete %>