<%= simple_form_for @company do |f| %>
	<div class="center row" id="company-new-form" >
		<div class="col-md-6">
			<%= f.error_notification %>
			<%= f.input :name, label: "Company Name" %>
			<br>
			<%= f.input :location, label: "Location" %>
			<br>
			<%= f.input :email, label: "Contact email" %>
		</div>
		<div class="col-md-6">
				<label>Photo</label><br>
				<%= f.file_field :photo%>
		</div>
			<br>
			<br>
			<br>
			<%= f.button :submit %>
	</div>
	</div>
<% end %>