<!DOCTYPE html>
<html>
  <head>
    <title>CodeConnect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
		<ul>
			<% if current_user %>
				<button><%= link_to "User Profile", user_path(current_user) %></button>
				<button><%= link_to "Log Out", logout_path %></button>
				<button><%= link_to "Home", root_path %></button>
			<% else %>
				<button><%= link_to "Login", login_path %></button>
				<button><%= link_to "Register", new_user_path %></button>
				<button><%= link_to "Home", root_path %></button>
			<%end%>
		</ul>
	</nav>
    <%= yield %>
    <footer>
    	<%= link_to "About", root_path %>
    	<%= link_to "Contact", contact_path %>
    	<%= link_to "Team", team_path %>
    </footer>
  </body>
</html>
